@media (max-width: 1024px) {
    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .photo-grid {
        grid-template-columns: 1fr;
    }

    .banner {
        height: 40vh;
    }

    .navbar-nav {
        text-align: center;
    }
}

@media (max-width: 600px) {
    .tabla-precios .precio-card {
        width: 100%;
    }
}